# =====================================
# Dependencies
# =====================================
node_modules/
.pnp
.pnp.js

# =====================================
# Build Output
# =====================================
/dist
/dist-ssr
*.local

# =====================================
# Environment Variables
# =====================================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# =====================================
# Logs
# =====================================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =====================================
# Editor & IDEs
# =====================================
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =====================================
# Testing
# =====================================
/coverage
*.lcov

# =====================================
# Misc
# =====================================
.cache
.temp
.tmp
Thumbs.db
*.tar