services:
  postgres:
    ports:
      - "5433:5432"

  backend:
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    environment:
      - BACKEND_URL=${BACKEND_URL}
      - FRONTEND_URL=${FRONTEND_URL}

  frontend:
    ports:
      - "80:80"
    environment:
      - VITE_API_URL=${VITE_API_URL}
