name: Deploy to Server

on:
  push:
    branches: [development]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_ID }}
          username: root
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: /opt/smm/deploy.sh
